*.apk
.vs
obj
Library/AnnotationManager
Library/AssetImportState
Library/CurrentLayout.dwlt
Library/CurrentMaximizeLayout.dwlt
Library/EditorInstance.json
Library/EditorUserSettings.asset
Library/InspectorExpandedItems.asset
Library/LibraryFormatVersion.txt
Library/PackageCache/
Library/ScriptAssemblies/
Library/ScriptMapper
Library/ShaderCache.db
Library/ShaderCache/
Library/StateCache/
Library/assetDatabase3
Library/metadata/
Library/LastSceneManagerSetup.txt
Library/expandedItems
Temp/
Assembly-CSharp-Editor.csproj
Assembly-CSharp.csproj
Library/LastBuild.buildreport
Library/PlayerDataCache/
Library/shadercompiler-*
doodletheworld.sln
